@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #eef0ed;
    font-family: Arial, Helvetica, sans-serif;
    color:brown;
}/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
